@model IEnumerable<SuperDrogueriaFenix.Models.ProductoTienda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnidadCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnidadVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iniciado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnidadCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnidadVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iniciado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProductoTienda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProductoTienda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProductoTienda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
